<ul class="navbar_top">
    <li><a class="active" href="/home">Hendrick Leadz</a></li>
    <li><a>News</a></li>
    <li><a>Gallery</a></li>
    <li style="float: right;"><a href="/contact">Contact</a></li>
</ul>