<HTML>
    <head>
        <% include partials/header.ejs %>
    </head>
    <body>
        <% include partials/navbar-top.ejs %>
        <h1>Gallery</h1>
        <div class="grid">
            <div class="row">
                <div class="image">
                    <div class="caption">
                        <p>This is a caption for the picture</p>
                    </div>
                </div>  
                <div class="image">
                    <div class="caption">
                            <p>This is a caption for the picture</p>
                        </div>
                    </div>  
                <div class="image">
                    <div class="caption">
                        <p>This is a caption for the picture</p>
                    </div>
                </div>  
            </div>
            <div class="row">
                <div class="image">
                    <div class="caption">
                        <p>This is a caption for the picture</p>
                    </div>
                </div>  
                <div class="image">
                    <div class="caption">
                        <p>This is a caption for the picture</p>
                    </div>
                </div>  
                <div class="image">
                    <div class="caption">
                        <p>This is a caption for the picture</p>
                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="image">
                    <div class="caption">
                        <p>This is a caption for the picture</p>
                    </div>
                </div>  
                <div class="image">
                    <div class="caption">
                        <p>This is a caption for the picture</p>
                    </div>
                </div>  
                <div class="image">
                    <div class="caption">
                        <p>This is a caption for the picture</p>
                    </div>
                </div>    
            </div>
        </div>
    </body>
</HTML>
