<HTML>
    <head>
        <% include partials/header.ejs %>
    </head>
    <body>
        <% include partials/navbar-top.ejs %>
        <div class="container">
            <div class="jumbotron">
                <div class="left_arrow"></div>
                <div class="right_arrow"></div>
            </div>
            <div class="show_dates">
                <h1>Latest News</h1>
                <ul>
                    <li>MM/DD/YYYY - Playing in CITY - At Hour/Minute/Second</li>
                    <li>MM/DD/YYYY - Playing in CITY - At Hour/Minute/Second</li>
                    <li>MM/DD/YYYY - Playing in CITY - At Hour/Minute/Second</li>
                    <li>MM/DD/YYYY - Playing in CITY - At Hour/Minute/Second</li>
                    <li>MM/DD/YYYY - Playing in CITY - At Hour/Minute/Second</li>
                    <li>MM/DD/YYYY - Playing in CITY - At Hour/Minute/Second</li>
                </ul>
            </div>
            <div class="twitter_feed">
                <h1>#Hendrick</h1>
            </div>
        <div class="find_here">
            <h1>Find Me Here</h1>
            <div class="social_media">
                <i class="fa fa-soundcloud fa-4x" aria-hidden="true"></i>
                <i class="fa fa-spotify fa-4x" aria-hidden="true"></i>
                <i class="fa fa-youtube-play fa-4x" aria-hidden="true"></i>
                <i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <% include partials/footer.ejs %>
        </div>    
    </body>
</HTML>
