<HTML>
    <head>
        <% include partials/header.ejs %>
    </head>
    <body>
        <% include partials/navbar-top.ejs %>
        <div class="container">
            <div class="jumbotron">
                <div class="left_arrow"></div>
                <div class="right_arrow"></div>
            </div>
            <div class="show_dates">
                <h1>Upcoming Shows</h1>
            </div>
            <div class="twitter_feed">
                <h1>#Hendrick</h1>
            </div>
        </div>
        <div class="find_here">
            <h1>Find Me Here</h1>
        </div>
        <% include partials/footer.ejs %>
    </body>
</HTML>