<HTML>
    <head>
        <% include partials/header.ejs %>
    </head>
    <body>
        <div class="face_panel">
            <div class="social_media">
                <i class="fa fa-soundcloud fa-4x" aria-hidden="true"></i>
                <i class="fa fa-spotify fa-4x" aria-hidden="true"></i>
                <i class="fa fa-youtube-play fa-4x" aria-hidden="true"></i>
                <i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="extra_panel">
            <span class="border">
                <h1>HENDRICK LEADZ</h1>
                <p>Musician</p>
            </span>
            <div class="play_button">
                <div class="play_button_arrow"></div>
            </div>
            <p class="play_button_music">SONG NAME | HENDRICK LEADZ</p>
            <a href="/home"><button class="enter"><span>Enter</span></button></a>
        </div>
    </body>
</HTML>
