<HTML>
    <head>
        <% include partials/header.ejs %>
    </head>
    <body>
        <% include partials/navbar-top.ejs %>
        <h1>This Page is Currently Under Construction</h1>
    </body>
</HTML>
