<HTML>
    <head>
        <% include partials/header.ejs %>
    </head>
    <body>
        <% include partials/navbar-top.ejs %>
        <h1>This is not the page you are looking for!</h1>
    </body>
</HTML>


<style>
    h1 {
        color: white;
        margin-top: 100px;
        text-align: center;
        font-size: 70px;
        font-family: 'Roboto', sans-serif;
    }
</style>
