body {
    background-color: black;
    margin: 0;
    padding: 0;
}

/* Navigation Bar (top) */

.navbar_top {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: rgba(140, 140, 140, 0.3);
    border-bottom: 1px solid white;
}

.navbar_top li {
    float: left;
}

.navbar_top li a {
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #f2f2f2;
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.navbar_top li a:hover:not(.active) {
    background-color: #111;
}

/* Contact Form */

.contact {
    position: absolute;
    top: 15%;
    left: 5%;
}

.contact h1 {
    color: white;
    font-weight: 400;
    font-size: 60px;
    font-family: 'Roboto', sans-serif; 
}

.contact label {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}

.contact input {
    margin-top: 20px;
    background: none;
    border: 2px solid #cccccc;
    width: 170px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 10px;
    transition: 0.3s;
    outline: none;
    color: white;
}

.contact input:focus {
    width: 200px;
    border: 2px solid white;
    outline: none;
}

.contact textarea {
    margin-top: 20px;
    background: none;
    border: 2px solid #cccccc;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 10px;
    width: 350px;
    height: 150px;
    transition: 0.3s;
    color: white;
}

.contact textarea:focus {
    outline: none;
    border: 2px solid white;
}

.contact input[type=submit] {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}


